*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    border: none;
    color: #000000;

}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 360px;
    height: 61px;
    background-color: #7740ED;
}

.container-header{
    display: flex;
    justify-content: space-between;
   
}

.titulo-header{
    font-weight: 500;
    font-size: 16px;
    color: #F1F1F1;
    padding-left: 21px;
    padding-top: 22px;
    padding-bottom: 20px;
}

.container-header-vector{
    display: flex;
    margin-right: 14px;
}

.bell{
    padding-top: 18px;

}

.elipse{
    border-radius: 0.5px solid #F1F1F1;
    padding-top: 5px;
}

.main{
    width: 360px;
    height: 793px;
    background-color:  #F1F1F1;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 8px;
    margin-left: 16px;
}
.titulo-form{
    font-weight: 400;
    font-size: 12px;
}

.border-input{
    width: 328px;
    height: 39px;
    border: 1px solid #7740ED;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 13px;
}

.container-input{
    display: flex;
    justify-content: space-between;
}

.input{
    display: block;
    width: 280px;
    height: 35px;
    background-color: #F1F1F1;
    margin-left: 5px; 
    box-shadow: none;
    border: none;
    outline: 0;
}

::placeholder{
    font-weight: 400;
    font-size: 12px;
    color: #CECECE;
    /* padding-left: 18px; */
}

input[type=text]{
    padding-left: 18px;
}

/* input[type=date]{
    padding-left: 18px;
    
} */

.input-image{
    padding-right: 9px;
}

.botao{
    width: 328px;
    height: 39px;
    background: #7740ED;
    border-radius: 10px;
    color: #F1F1F1;
    margin-top: 6px;
}

.container-tarefas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.quadro-tarefas{
    width: 328px;
    height: 62px;
    background: #D9D9D9;
    border-radius: 10px;
    margin-top: 9px;
}

.container-texto{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 18px;

}


.check{
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
    cursor: pointer;
    /* position: relative; */
}

/* .check::before{
    position: absolute;
} */

.container-texto2{
    display: flex;
    flex-direction: column;
}

.texto{
    font-weight: 500;
    font-size: 14px;
}

.texto2{
    font-weight: 400;
    font-size: 12px;
    margin-top: 8px;
}

.vector{
    margin-right: 15px;
}

.span{
    text-decoration-line: line-through;
}

.container-marcador{
    display: flex;
    margin-left: 16px;
    margin-top: 36px;
}

.marcador1{
    width: 174px;
    height: 32px;
    background: #FFDB21;
    border-radius: 10px 0px 0px 10px;
    padding: 8px;

}

.marcador2{
    width: 154px;
    height: 32px;
    background: #D9D9D9;
    border-radius: 0px 10px 10px 0px;
}

.texto-marcador{
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;

}


